node_modules/
*.watchmanconfig
*.yarn.lock
.DS_Store

.expo/
*-android-*.json
/ios/
/android/
*.ipa
*.aab
.DS_Store

# Fastlane generated output
fastlane/screenshots/
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/

# Bundler
.bundle/
vendor/bundle/
